html {
  /* overflow: hidden; */
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "NanumBarunGothic", sans-serif;
}

h1 {
  margin: 0;
}
p {
  margin: 0;
}

a:any-link {
  text-decoration: none;
}

.divider {
  width: 10px;
  display: inline-block;
}

header {
  position: absolute;
  padding: 24px 24px;
  right: 0px;
  left: 0px;
}

header img {
  height: 24px;
  z-index: 5;
  position: relative;
}

.content,
.page {
  width: 100%;
  /* height: 100%; */
  height: 800px;
  position: relative;
  z-index: 3;
}

.content .page:nth-child(1) {
  background-image: url(./../assets/images/MainBg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content .page:nth-child(2) {
  background-color: rgb(250, 250, 250);
}

.content .page:nth-child(3) {
  background-color: rgb(255, 255, 255);
}

.content .page:nth-child(4) {
  background-color: rgb(250, 250, 250);
}

.content .page:nth-child(5) {
  background-color: rgb(253, 244, 249);
}

.content .page .content-wrap {
  position: relative;
  margin: auto;
  
  height: 100%;
}

.content .page .content-wrap .sep-h-2 {
  display: flex;
}

.content .page .content-wrap .text-area {
  position: absolute;
  display: none;
  font-size: 18px;
  top: 10vh;
  margin: auto;
  right:0px;
  left:0px;
}

.content .page .content-wrap .img-area {
  display: none;
  position: absolute;
  margin: auto;
  right:0px;
  left:0px;
  top:58vh;
  width: 60vw;
}

.content .page .content-wrap .img-phone {
  border-radius: 25px;
  box-shadow: 0px 3px 20px 0px #7d7d7d85;
}

.content .page .content-wrap .img-area.s1 img {
  width: 60vw;
}

.content .page .content-wrap .img-area.s2 img {
  width: 245px;
  position: absolute;
  margin: auto;
  border-radius: 25px;
}

.content .page .content-wrap .img-area.s2 img.s2{
  position: inherit;
  border-radius: 6px;
  margin-bottom: 13px;
}

.content .page .content-wrap .img-area.s2 img:nth-child(1) {
  width: 42vw;
  left: 20px;
  top: 43px;
  z-index: 1;
}

.content .page .content-wrap .img-area.s2 img:nth-child(5) {
  width: 51vw;
  left: 22px;
  right: 20px;
  z-index: 2;
}
.content .page .content-wrap .img-area.s2 img:nth-child(3) {
  width: 42vw;
  right: 20px;
  top: 43px;
  z-index: 1;
}

.page.temp-1 > .content-wrap .text-area {
  /* inset: 190px auto auto 100px; */
  color: #ffffff;
}

.content .page .content-wrap .text-area p{
  text-align: center;
  margin-top: 11px;
}

.page.temp-1 > .content-wrap .text-area .title-main {
  font-size: 50px;
  margin: 20px 0;
  line-height: 1.1em;
  text-align: center;
}

.page.temp-1 > .content-wrap .text-area .title-main > span {
  color: rgb(253, 071, 147);
}

.page.temp-1 > .content-wrap .text-area .btn-app-install {
  /* width: 181px; */
  height: 50px;
  text-align: center;
}

.page.temp-1 > .content-wrap .text-area .btn-app-install a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(255, 255, 255);
  font-weight: bold;
  transition: all 200ms ease-in-out 0s;
  width: 180px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  color: rgb(255, 255, 255);
}

.page.temp-1 > .content-wrap .text-area .btn-app-install a:hover {
  color: rgb(255, 075, 148);
  background-color: rgb(255, 255, 255);
}

.page.temp-1 > .content-wrap .img-area {
  /* inset: 220px 100px auto auto; */
}

.page.temp-2,
.page.temp-3,
.page.temp-4,
.page.temp-5 {
  text-align: center;
}

.page.temp-2 > .content-wrap .text-area,
.page.temp-4 > .content-wrap .text-area {
  width: 100%;
  top: 8vh;
}

.page.temp-3 > .content-wrap .text-area{
  width: 100%;
  top: 80px;
}

.page.temp-2 > .content-wrap .text-area .title-main,
.page.temp-3 > .content-wrap .text-area .title-main,
.page.temp-4 > .content-wrap .text-area .title-main {
  font-size: 30px;
  margin: 20px 0 0 -10px;
  line-height: 1.3em;
  font-weight: 400;
}

.page.temp-2 > .content-wrap .text-area p,
.page.temp-3 > .content-wrap .text-area p,
.page.temp-4 > .content-wrap .text-area p {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 100;
}

.page.temp-2 > .content-wrap .img-area,
.page.temp-4 > .content-wrap .img-area {
  top: 320px;
  width: 100%;
}

.page.temp-3 > .content-wrap .img-area{
  top: 320px;
  width: 100%;
}

.page.temp-3 > .content-wrap .text-area p span {
  display: block;
}
/* .page.temp-3 > .content-wrap .text-area .title-main {
  font-size: 45px;
  margin: 0 0 20px 0px;
  line-height: 1.3em;
  font-weight: 400;
}

.page.temp-3 > .content-wrap .text-area {
  inset: 35vh auto auto auto;
  color: #000000;
}

.page.temp-3 > .content-wrap .img-area {
  float: right;
  top: 22vh;
  right: -127px;
  width: 639px;
}
.page.temp-3 > .content-wrap .img-area .img-divider {
  margin-bottom: 13px;
  margin-left: -54px;
} */

.page.temp-5 .content-header {
}
.page.temp-5 .content-header > div:nth-child(1) {
  position: absolute;
  left: 20px;
  top: 20px;
}
.page.temp-5 .content-header > div:nth-child(1) img {
  height: 24px;
}
.page.temp-5 .content-header > div:nth-child(2) {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 5;
}
.page.temp-5 .content-header > div:nth-child(2) img {
  width: 30px;
  margin-left: 10px;
}

.page.temp-5 > .content-wrap .text-area .title-main {
  font-size: 30px;
  margin: 0 0 20px 0px;
  line-height: 1.3em;
  font-weight: 400;
}

.page.temp-5 > .content-wrap .text-area p {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 100;
  color: #000000;
}

.page.temp-5 > .content-wrap .text-area {
  inset: 30vh auto auto auto;
  color: rgb(255, 075, 148);
  width: 100%;
}

.page.temp-5 > .content-wrap .btn-app-install-android {
  margin: 40px 0 0 0;
}

.page.temp-5 > .content-wrap .btn-app-install-android a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(255, 075, 148);
  font-weight: bold;
  transition: all 200ms ease-in-out 0s;
  width: 180px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  color: rgb(255, 255, 255);
}

.page.temp-5 > .content-wrap .text-area .btn-app-install-android a:hover {
  color: rgb(255, 075, 148);
  background-color: rgb(255, 255, 255);
  border:1px solid rgb(255, 075, 148);
}

.page.temp-5 .content-footer {
  text-align: left;
  width: 100%;
  height: 135px;
  background-color: rgb(70 70 70);
  position: absolute;
  bottom: 0px;
  color: rgb(255 255 255 / 50%);
}

.page.temp-5 .content-footer > div {
  padding: 14px 0px 0px 0px;
  text-align: center;
}

.page.temp-5 .content-footer > div > div:first-child {
  font-size: 13px;
  font-weight: bold;
}
.page.temp-5 .content-footer > div > div {
  text-decoration: none;
  padding: 5px;
  font-size: 12px;
}

.page.temp-5 .content-footer a {
  text-decoration: none;
  color: rgb(255 255 255);
}



